<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Book Tracker</title>
  <meta name="description" content="The Book Tracker">
  <meta name="author" content="David">

  

</head>

<body>
  
<div id="welcome"> 
<h1>  Welcome to TheBookTracker!  </h1>
</div>  




<div id="buttons" class="buttons"> 
    <button id="button1"> Create Book  </button>
    <button id="button2"> Load Books </button>
</div>
  
    

<div id="book form"></div>


<div id="main"></div>


<div id="reviews"></div>
  




</body>



</html>




