<h1>Books</h1>
<a href="#" onclick="displayCreateForm(); return false;">Create Book</a>
<a href="#" onclick="getBooks(); return false;">View Books</a>
<hr>
<div id="books-form"></div>
<div id="main">
</div>
