/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  }
header {
  text-align: center;
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.nav li {
  
  color: #777777;
  display: inline;
  text-shadow: 0 1px 0 white;
}

ul.nav li a {
  
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  display: inline;
}

.btn {


    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    outline: none;
    

}


.bookForm {



  padding: 50px 0;
  
  background-color: lightblue;
  border: 5px solid black;
  margin: 10px 300px 10px 300px;

}

form input {
  
  width: 20%;
  margin: 8px;
  padding: 5px 15px; 
  text-align: left;
}


textarea#styled {

  width: 215px;
  height: 100px;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}





}

.input { 


 }


.reviewBtn {
  color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    outline: none;
    margin: 5px 100px 20px;
}






