/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  text-align: center;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  }
header {
  text-align: center;
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.nav li {
  display: inline;
}
ul.nav li a {
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

.book {


text-align: center ;


}


.bookForm {



  padding: 50px 0;
  
  background-color: lightblue;
  border: 5px solid black;
  margin: 10px 300px 10px 300px;

}

form input {
  
  width: 20%;
  margin: 8px;
  padding: 10px 60px;
  text-align: left;
}


.rojo {

background-color: red;

}






}

.input btn-work { text-align: center; }


.reviewBtn {
  background-color: #F0F8FF;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}






