<% if logged_in? %>
  <ul class="nav">
  
  <li><%= 'The Book Tracker' %></li>
  
  <li><%= link_to "Sign Out", logout_path,:method => :delete %></li>
  </ul>

<% else %>
  <ul class="nav">
  <li><%= link_to 'The Book Tracker', root_path %></li>
  </ul>
<% end %>